body {
    background-color: #121212 !important; /* Warna latar belakang gelap */
    color: #e0e0e0 !important; /* Warna teks terang */
}

#cardIcon {
    background-color: rgba(0, 0, 0, 0.6) !important; /* Transparansi hitam untuk latar belakang */
    color: #e0e0e0 !important; /* Warna teks terang */
}

.grid-item a {
    color: inherit !important; /* Warna teks tetap sesuai parent */
    text-decoration: none !important;
    display: block !important;
}

.grid-item:hover {
    background-color: #333333 !important; /* Warna hover lebih gelap */
    border-radius: 8px !important;
    cursor: pointer !important;
}

.card.shadow-sm.mt-4.card-custom {
    background-color: rgba(50, 50, 50, 0.8) !important; /* Warna card gelap dengan transparansi */
    margin: 5% !important;
}

.grid-item i {
    color: #f0f0f0 !important; /* Warna ikon terang */
}

h2 {
    color: #ffffff !important; /* Warna judul putih */
}

.settings-item:hover {
    background-color: #444444 !important; /* Warna hover lebih gelap */
}

.settings-item {
    background-color: #1e1e1e !important; /* Warna latar belakang item gelap */
    border: 1px solid #555555 !important; /* Warna border lebih gelap */
    color: #f0f0f0;
}

